* {
  border-box: border;
  margin: 0;
  padding: 0;
}

.padding-responsive{
	padding: 24px;
}

#search__bar{
	width: 80%;
	margin: 4px auto;
}

@media only screen and (max-width: 400px){
	.padding-responsive{
		padding: 0;
	}
}